* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo_title {
    position: relative;
    height: 120px;
    width: 50%;
    top: 0px;
    padding-left: 5%; 
}

.logo_title img {
    float: left;
}

.logo_title h1, .logo_title h3 {
    line-height: 0.1;
    color: #004725;
    position: relative;
    top: 25%;
}

.logo_title h1 {
    font-size: 42px;
}

.nav-bar {
    background-color: #004725;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.nav-bar a { /*.nav-bar > div > a*/
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}

.nav-bar a:hover {
    color: grey;
}

.login_button {
    position: relative;
    float: right;
}

.buttons {
    float: right;
    height: 120px;
    width: 50%;
    padding: 20px;
}

.buttons input {
    border-style: solid;
    width: 28%;
    height: 35px;
    border-radius: 20px;
    text-align: center;
    background-color: #004725;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.buttons input:hover {
    color: grey;
}